<nav class="bottom-nav">
  <a href="index.html" class="active">
    <i data-lucide="home"></i>
    <small>Accueil</small>
  </a>

  <a href="boutique.html">
    <i data-lucide="store"></i>
    <small>Boutique</small>
  </a>

  <a href="#">
    <i data-lucide="heart"></i>
    <small>Favoris</small>
  </a>

  <a href="#">
    <i data-lucide="shopping-bag"></i>
    <small>Panier</small>
  </a>

  <a href="#">
    <i data-lucide="user"></i>
    <small>Compte</small>
  </a>
</nav>
