<header class="header">
  <div class="container header-inner">
    <div class="logo">gaia.cosmétiques</div>

    <nav class="nav">
      <a href="index.html">Accueil</a>
      <a href="boutique.html">Boutique</a>
      <a href="#">Conseils beauté</a>
      <a href="#">Collections</a>
      <a href="#">Contact</a>
    </nav>

    <div class="icons">
      <i data-lucide="search"></i>
      <i data-lucide="user"></i>
      <i data-lucide="shopping-bag"></i>
    </div>
  </div>
</header>
